@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.modal {
  transition: all 0.3s ease;
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 90%;
  width: fit-content;
  padding: 20px 40px;
  border-radius: 20px !important;
  box-shadow: 0 0 5px #00000024;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);
}

.help {
  color: coral;
  font-size: 20px;
  font-weight: 600;
}

.pending {
  color: #efefef;
  font-size: 30px;
  font-weight: 600;
}

.pill {
  padding: 0px 10px;
  border-radius: 50px;
  font-size: 12px;
}

.pill-completed {
  background-color: palegreen;
}

.pill-pending {
  background-color: #efefef;
}

.edit-modal-form {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 auto;
}

.trash:hover {
  color: coral;
  cursor: pointer;
  transition: all ease 0.3s;
  transform: scale(1.1);
}
.trash {
  transition: all ease 0.3s;
}

.logo {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  max-width: 500px;
  gap: 1rem;
  font-size: 14px;
  margin: 20px auto;
}

.goals-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.header-body {
  color: #333;
  font-size: 0.8rem;
  font-weight: 400;
  max-width: 700px;
  text-align: center;
  margin: 10px auto;
}

.content {
  padding-top: 20px;
}

.goals {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.goal-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.goal-item-title {
  font-size: 14px;
  width: 200px;
  text-align: left;
}

.goal-item-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease;
  align-items: center;
}

.goal-item-days {
  font-size: 12px;
}

.btn-view {
  font-size: 12px !important;
  height: 30px !important;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.modal-checkbox {
  display: flex;
  justify-content: space-between;
}

.modal-checkbox > button {
  padding: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #e6e6e6;
}

#targetDate {
  cursor: pointer;
}

.goal-info-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.info-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5rem;
}

.comments-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  width: 100%;
  overflow-y: scroll;
  max-height: 200px;
  scroll-behavior: smooth;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #00000024;
  overflow-y: scroll;
}

.comment-item {
  display: flex;
  flex-direction: column;
}

.goal-comments {
  min-width: 350px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.goal-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.goal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.comment-user {
  font-weight: 600;
  font-size: 14px;
}

.comment-date {
  font-size: 10px;
  color: #828282;
}

.comment-body {
  font-size: 14px;
  background-color: #efefef96;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0px;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 10px;
  border-radius: 5px;
  background: #40a2e3;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #40a2e3;
  transition: all 0.3s ease;
}

.btn-close {
  padding: 2px 2px;
  border-radius: 5px;
  background: #e6e6e6;
  height: 30px;
  width: 30px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  transition: all 0.3s ease;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.btn-close:hover {
  background-color: lightcoral !important;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-close > svg {
  margin-right: 0 !important;
  scale: 1.7;
}

.btn svg {
  margin-right: 8px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.99);
  background-color: #2b87c4;
  transition: all 0.3s ease;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* Modal Animation */
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    0.1s both;
  animation: scale-in-center 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-12 0:52:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
